@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #48433A;
}

div#sobremim > h1, div#servicos > h1
{
    text-align: center;
}

header
{
    background-color: #2196f3;
    height: 70px;
}

header h1 
{
    text-align: center; 
    color: white;
    line-height: 46px;
}

header ul 
{
    margin-left: 1vw;
}

header li 
{
    display: inline; 
}

header li a 
{
    color: white; 
    text-decoration: none;
    transition: background-color 0.5s; 
    padding: 3px;
    border-radius: 4px;
}

header li a:hover
{
    background-color: #496073;
    color:rgb(255, 244, 35);
}

main > article > div#sobremim > p 
{
    text-align: justify; 
}

div#sobremim > p 
{
    margin: auto;
    width: 95vw;
}

div#servicos div#caixa 
{
    margin: auto;
    width: 72vw;
    border-radius: 10px;
    box-shadow: 1px 4px 10px rgb(196, 196, 196);
}

main div#servicos div#caixa
{
    display: flex; 
    justify-content: center;
}

div#servicos div#caixa ul
{
    margin: 6px 6px 0 6px;
}

main div#servicos div#caixa ul 
{
    list-style-type: none;
}

main div#contato form label, input, textarea, button
{
    display: block;
}

div#contato
{
    margin-left: 1vw;
}

div#contato input
{
    width: 200px;
    height: 28px;
}

div#contato textarea
{
    width: 275px;
    height: 100px;
}

div#contato label, button
{
    margin-top: 10px;
}

div#contato button 
{
    width: 90px;
    height: 30px;
}

div#sobremim, div#servicos, div#contato
{
    margin-top: 30px;
}

footer
{
    text-align: center;
    background-color: #F2A122;
    height: 40px;
    margin-top: 191px;
}

footer > p, footer a 
{
    color: white;
    line-height: 39px;
}
